<!DOCTYPE html>
<html>
  <head>
    <title>Zoom Clone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>
      <div id="main">
        <div id="leftPart">
         <div id="left-logos">
          <i class="ri-video-chat-line"></i>
          <i class="ri-message-3-fill"></i>
          <i class="ri-group-fill"></i>
         </div>
        </div>

        <div id="main-box">

          <div id="middlePart">
            
            <div id="header">
              <h1>V-Meet</h1>
              <div id="header-logo-div">
                <div id="people-logo"><i class="ri-group-fill"></i></div>
                <div id="invite-logo"><i class="ri-user-add-fill"></i> Add People</div>
              </div>
            </div>

            <div id="video-div">
              <div class="videos"></div>
              <div class="videos"></div>
              <div class="videos"></div>
              <div class="videos"></div>
            </div>

            <div id="footer">
              <div id="footer-logos">
                <i class="ri-mic-fill"></i>
                <i class="ri-phone-fill" id="bgc"></i>
                <i class="ri-vidicon-fill"></i>
                <i class="ri-edit-2-fill"></i>
               </div>
          </div>
          
          </div>

          <div id="rightPart">
            <div id="msg-nav">
              <button id="chat">chat</button>
              <button id="participants">participants</button>
            </div>
            <div id="msg-div">
  
            </div>
            <div id="typing-div"></div>
          </div>
  

        </div>
       
      
      </div>
  </body>
</html>
